@model IEnumerable<Ucenici>
@{
    ViewData["Title"] = "Prikaz ucenika";
}

<h1>@ViewData["Title"]</h1>

<ul>
    @foreach (var ucenik in Model){
        <li>
            <a asp-controller="Ucenici"
            asp-action="Display"
            asp-route-id="@ucenik.id">@ucenik.ime @ucenik.prezime</a>
        </li>
    }
</ul>