@{
    ViewData["Title"] = "O autoru";
}
<h1>@ViewData["Title"]</h1>

<p>Autor je Diana Santavec, kontakt email: diana.santavec@gmail.com i kod je dostupan na GitHub-u DianaSantavec/webSeminarski</p>
